<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Updated - AIcruiter</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=6">
</head>
<body>

<div class="page-wrapper">
    <div class="containera login fade-in">

        <h1>Password Successfully Updated</h1>

        <p style="margin-top:20px;">
            Your password has been changed successfully.
        </p>

        <a href="{% url 'login' %}" class="login-btn" style="margin-top:30px; display:block; text-align:center;">
            Login Now
        </a>

    </div>
</div>

</body>
</html>