<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set New Password - AIcruiter</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=6">
</head>
<body>

<div class="page-wrapper">
    <div class="containera login fade-in">

        <h1>Set New Password</h1>

        <form method="POST">
            {% csrf_token %}

            <label>New Password</label>
            {{ form.new_password1 }}

            <label>Confirm New Password</label>
            {{ form.new_password2 }}

            {% if form.errors %}
                <div style="color:red; margin-top:15px;">
                    {{ form.errors }}
                </div>
            {% endif %}

            <button type="submit" class="login-btn">
                Change Password
            </button>
        </form>

    </div>
</div>

</body>
</html>